In [1]:
import json
import pandas as pd
import requests
import sqlite3 as db
from sqlite3 import Error
from datetime import datetime

%run C:\Users\Joshua\Jupyter_Notebook_Folders\APIkeys.py
%run C:\Users\Joshua\Jupyter_Notebook_Folders\MacroData2\db_functions.py

In [2]:
db_name = 'MacroData2'

In [3]:
def get_BLS_data(seriesIDs, startyear, endyear):
    """
    get data from BLS
    """
    base_url = 'https://api.bls.gov/publicAPI/v2/timeseries/data/'  #this will not change
    headers = {'Content-type': 'application/json'}  #This will not changed !

    # For the key seriesid enter a list of series names you wish to download
    # For the key startyear enter the start year inside ""
    # For the key endyear enter the end year inside ""
    
    parameters = { 
        "seriesid":seriesIDs,
        "startyear":str(startyear), 
        "endyear":str(endyear),
        "catalog":True, 
        "calculations":False, 
        "annualaverage":False,
        "aspects":False,
        "registrationkey":os.environ['BLS_API_key'] 
     }

    data = json.dumps(parameters) # Converts the Python dictionary to JSON

    p = requests.post(base_url, data=data, headers=headers)
    json_data = json.loads(p.text)
    
    message = ""
    if json_data['message']:
        #message = "For series " + seriesIDs + ", no data for years: "
        for i in range(len(json_data['message'])):
            message += json_data['message'][i][-4:] + ", "
    
    return message, json_data

In [4]:
def create_year_increments(startyear, endyear):
    """
    Create start and endyear increments of 20 years or 
    """
    if endyear - startyear < 20:
        return startyear, endyear
    else:
        i = startyear
        increments = []
        while i <= endyear: 
            start_end_array = []
            start_end_array.append(i)
            if i + 19 > endyear:
                start_end_array.append(endyear)
            else:
                start_end_array.append(i + 19)
            increments.append(start_end_array)
            i += 20
    
    return increments

In [5]:
def create_dataframes(json_data):
    for i in range(len(json_data['Results']['series'])):
        df_dict = pd.DataFrame()
        df_dict['series_title'] = json_data['Results']['series'][i]['catalog']['series_title'],
        df_dict['series_id'] = json_data['Results']['series'][i]['catalog']['series_id'],
        df_dict['seasonality'] = json_data['Results']['series'][i]['catalog']['seasonality'],
        df_dict['survey_long_name'] = json_data['Results']['series'][i]['catalog']['survey_name'],
        df_dict['survey_short_name'] = json_data['Results']['series'][i]['catalog']['survey_name'][-6:-1],
        df_dict['survey_abbreviation'] = json_data['Results']['series'][i]['catalog']['survey_abbreviation'],
        df_dict['measure_data_type'] = json_data['Results']['series'][i]['catalog']['measure_data_type'],
        df_dict['area'] = json_data['Results']['series'][i]['catalog']['area'],
        df_dict['item'] = json_data['Results']['series'][i]['catalog']['item']
        df_dict = df_dict.set_index(df_dict['series_id'])
        df_dict = df_dict.drop(columns=['series_id'])

        df = pd.DataFrame(json_data['Results']['series'][i]['data'])
        '''
        df['series'] = json_data['Results']['series'][i]['catalog']['series_id']
        df['month'] = df['period'].str.replace('M', '')
        df['date'] = df['year'] + df['month']
        df = df.sort_values(by=['date'], ignore_index=True)
        df['date'] = pd.to_numeric(df['date'])
        df = df.set_index(df["date"])
        df['latest'] = 0
        #df['latest'].iloc[-1] = 0#df['latest'].iloc[-1].upper()
        df = df.drop(columns=['year', 'period', 'periodName', 'footnotes', 'month', 'date'])

        series_id = json_data['Results']['series'][i]['catalog']['series_id']
        create_data_table(series_id, db_name)
        add_data_to_db(df, series_id, db_name)

        series_dict = series_id + "_dict"
        create_dict_table(series_dict, db_name)
        add_data_to_db(df_dict, series_dict, db_name)
        '''

In [6]:
seriesIDs = ["CUUR0000SA0", "CUSR0000SA0"] 
year_increments = create_year_increments(1913, 2003)
for j in year_increments:
    message, json_data = get_BLS_data(seriesIDs, j[0], j[1])
    create_dataframes(json_data)

In [7]:
json_data

{'status': 'REQUEST_SUCCEEDED',
 'responseTime': 264,
 'message': [],
 'Results': {'series': [{'seriesID': 'CUUR0000SA0',
    'catalog': {'series_title': 'All items in U.S. city average, all urban consumers, not seasonally adjusted',
     'series_id': 'CUUR0000SA0',
     'seasonality': 'Not Seasonally Adjusted',
     'survey_name': 'Consumer Price Index for All Urban Consumers (CPI-U)',
     'survey_abbreviation': 'CU',
     'measure_data_type': 'All items',
     'area': 'U.S. city average',
     'item': 'All items'},
    'data': [{'year': '2003',
      'period': 'M12',
      'periodName': 'December',
      'value': '184.3',
      'footnotes': [{}]},
     {'year': '2003',
      'period': 'M11',
      'periodName': 'November',
      'value': '184.5',
      'footnotes': [{}]},
     {'year': '2003',
      'period': 'M10',
      'periodName': 'October',
      'value': '185.0',
      'footnotes': [{}]},
     {'year': '2003',
      'period': 'M09',
      'periodName': 'September',
      'value': '185.2',
      'footnotes': [{}]},
     {'year': '2003',
      'period': 'M08',
      'periodName': 'August',
      'value': '184.6',
      'footnotes': [{}]},
     {'year': '2003',
      'period': 'M07',
      'periodName': 'July',
      'value': '183.9',
      'footnotes': [{}]},
     {'year': '2003',
      'period': 'M06',
      'periodName': 'June',
      'value': '183.7',
      'footnotes': [{}]},
     {'year': '2003',
      'period': 'M05',
      'periodName': 'May',
      'value': '183.5',
      'footnotes': [{}]},
     {'year': '2003',
      'period': 'M04',
      'periodName': 'April',
      'value': '183.8',
      'footnotes': [{}]},
     {'year': '2003',
      'period': 'M03',
      'periodName': 'March',
      'value': '184.2',
      'footnotes': [{}]},
     {'year': '2003',
      'period': 'M02',
      'periodName': 'February',
      'value': '183.1',
      'footnotes': [{}]},
     {'year': '2003',
      'period': 'M01',
      'periodName': 'January',
      'value': '181.7',
      'footnotes': [{}]},
     {'year': '2002',
      'period': 'M12',
      'periodName': 'December',
      'value': '180.9',
      'footnotes': [{}]},
     {'year': '2002',
      'period': 'M11',
      'periodName': 'November',
      'value': '181.3',
      'footnotes': [{}]},
     {'year': '2002',
      'period': 'M10',
      'periodName': 'October',
      'value': '181.3',
      'footnotes': [{}]},
     {'year': '2002',
      'period': 'M09',
      'periodName': 'September',
      'value': '181.0',
      'footnotes': [{}]},
     {'year': '2002',
      'period': 'M08',
      'periodName': 'August',
      'value': '180.7',
      'footnotes': [{}]},
     {'year': '2002',
      'period': 'M07',
      'periodName': 'July',
      'value': '180.1',
      'footnotes': [{}]},
     {'year': '2002',
      'period': 'M06',
      'periodName': 'June',
      'value': '179.9',
      'footnotes': [{}]},
     {'year': '2002',
      'period': 'M05',
      'periodName': 'May',
      'value': '179.8',
      'footnotes': [{}]},
     {'year': '2002',
      'period': 'M04',
      'periodName': 'April',
      'value': '179.8',
      'footnotes': [{}]},
     {'year': '2002',
      'period': 'M03',
      'periodName': 'March',
      'value': '178.8',
      'footnotes': [{}]},
     {'year': '2002',
      'period': 'M02',
      'periodName': 'February',
      'value': '177.8',
      'footnotes': [{}]},
     {'year': '2002',
      'period': 'M01',
      'periodName': 'January',
      'value': '177.1',
      'footnotes': [{}]},
     {'year': '2001',
      'period': 'M12',
      'periodName': 'December',
      'value': '176.7',
      'footnotes': [{}]},
     {'year': '2001',
      'period': 'M11',
      'periodName': 'November',
      'value': '177.4',
      'footnotes': [{}]},
     {'year': '2001',
      'period': 'M10',
      'periodName': 'October',
      'value': '177.7',
      'footnotes': [{}]},
     {'year': '2001',
      'period': 'M09',
      'periodName': 'September',
      'value': '178.3',
      'footnotes': [{}]},
     {'year': '2001',
      'period': 'M08',
      'periodName': 'August',
      'value': '177.5',
      'footnotes': [{}]},
     {'year': '2001',
      'period': 'M07',
      'periodName': 'July',
      'value': '177.5',
      'footnotes': [{}]},
     {'year': '2001',
      'period': 'M06',
      'periodName': 'June',
      'value': '178.0',
      'footnotes': [{}]},
     {'year': '2001',
      'period': 'M05',
      'periodName': 'May',
      'value': '177.7',
      'footnotes': [{}]},
     {'year': '2001',
      'period': 'M04',
      'periodName': 'April',
      'value': '176.9',
      'footnotes': [{}]},
     {'year': '2001',
      'period': 'M03',
      'periodName': 'March',
      'value': '176.2',
      'footnotes': [{}]},
     {'year': '2001',
      'period': 'M02',
      'periodName': 'February',
      'value': '175.8',
      'footnotes': [{}]},
     {'year': '2001',
      'period': 'M01',
      'periodName': 'January',
      'value': '175.1',
      'footnotes': [{}]},
     {'year': '2000',
      'period': 'M12',
      'periodName': 'December',
      'value': '174.0',
      'footnotes': [{}]},
     {'year': '2000',
      'period': 'M11',
      'periodName': 'November',
      'value': '174.1',
      'footnotes': [{}]},
     {'year': '2000',
      'period': 'M10',
      'periodName': 'October',
      'value': '174.0',
      'footnotes': [{}]},
     {'year': '2000',
      'period': 'M09',
      'periodName': 'September',
      'value': '173.7',
      'footnotes': [{}]},
     {'year': '2000',
      'period': 'M08',
      'periodName': 'August',
      'value': '172.8',
      'footnotes': [{}]},
     {'year': '2000',
      'period': 'M07',
      'periodName': 'July',
      'value': '172.8',
      'footnotes': [{}]},
     {'year': '2000',
      'period': 'M06',
      'periodName': 'June',
      'value': '172.4',
      'footnotes': [{}]},
     {'year': '2000',
      'period': 'M05',
      'periodName': 'May',
      'value': '171.5',
      'footnotes': [{}]},
     {'year': '2000',
      'period': 'M04',
      'periodName': 'April',
      'value': '171.3',
      'footnotes': [{}]},
     {'year': '2000',
      'period': 'M03',
      'periodName': 'March',
      'value': '171.2',
      'footnotes': [{}]},
     {'year': '2000',
      'period': 'M02',
      'periodName': 'February',
      'value': '169.8',
      'footnotes': [{}]},
     {'year': '2000',
      'period': 'M01',
      'periodName': 'January',
      'value': '168.8',
      'footnotes': [{}]},
     {'year': '1999',
      'period': 'M12',
      'periodName': 'December',
      'value': '168.3',
      'footnotes': [{}]},
     {'year': '1999',
      'period': 'M11',
      'periodName': 'November',
      'value': '168.3',
      'footnotes': [{}]},
     {'year': '1999',
      'period': 'M10',
      'periodName': 'October',
      'value': '168.2',
      'footnotes': [{}]},
     {'year': '1999',
      'period': 'M09',
      'periodName': 'September',
      'value': '167.9',
      'footnotes': [{}]},
     {'year': '1999',
      'period': 'M08',
      'periodName': 'August',
      'value': '167.1',
      'footnotes': [{}]},
     {'year': '1999',
      'period': 'M07',
      'periodName': 'July',
      'value': '166.7',
      'footnotes': [{}]},
     {'year': '1999',
      'period': 'M06',
      'periodName': 'June',
      'value': '166.2',
      'footnotes': [{}]},
     {'year': '1999',
      'period': 'M05',
      'periodName': 'May',
      'value': '166.2',
      'footnotes': [{}]},
     {'year': '1999',
      'period': 'M04',
      'periodName': 'April',
      'value': '166.2',
      'footnotes': [{}]},
     {'year': '1999',
      'period': 'M03',
      'periodName': 'March',
      'value': '165.0',
      'footnotes': [{}]},
     {'year': '1999',
      'period': 'M02',
      'periodName': 'February',
      'value': '164.5',
      'footnotes': [{}]},
     {'year': '1999',
      'period': 'M01',
      'periodName': 'January',
      'value': '164.3',
      'footnotes': [{}]},
     {'year': '1998',
      'period': 'M12',
      'periodName': 'December',
      'value': '163.9',
      'footnotes': [{}]},
     {'year': '1998',
      'period': 'M11',
      'periodName': 'November',
      'value': '164.0',
      'footnotes': [{}]},
     {'year': '1998',
      'period': 'M10',
      'periodName': 'October',
      'value': '164.0',
      'footnotes': [{}]},
     {'year': '1998',
      'period': 'M09',
      'periodName': 'September',
      'value': '163.6',
      'footnotes': [{}]},
     {'year': '1998',
      'period': 'M08',
      'periodName': 'August',
      'value': '163.4',
      'footnotes': [{}]},
     {'year': '1998',
      'period': 'M07',
      'periodName': 'July',
      'value': '163.2',
      'footnotes': [{}]},
     {'year': '1998',
      'period': 'M06',
      'periodName': 'June',
      'value': '163.0',
      'footnotes': [{}]},
     {'year': '1998',
      'period': 'M05',
      'periodName': 'May',
      'value': '162.8',
      'footnotes': [{}]},
     {'year': '1998',
      'period': 'M04',
      'periodName': 'April',
      'value': '162.5',
      'footnotes': [{}]},
     {'year': '1998',
      'period': 'M03',
      'periodName': 'March',
      'value': '162.2',
      'footnotes': [{}]},
     {'year': '1998',
      'period': 'M02',
      'periodName': 'February',
      'value': '161.9',
      'footnotes': [{}]},
     {'year': '1998',
      'period': 'M01',
      'periodName': 'January',
      'value': '161.6',
      'footnotes': [{}]},
     {'year': '1997',
      'period': 'M12',
      'periodName': 'December',
      'value': '161.3',
      'footnotes': [{}]},
     {'year': '1997',
      'period': 'M11',
      'periodName': 'November',
      'value': '161.5',
      'footnotes': [{}]},
     {'year': '1997',
      'period': 'M10',
      'periodName': 'October',
      'value': '161.6',
      'footnotes': [{}]},
     {'year': '1997',
      'period': 'M09',
      'periodName': 'September',
      'value': '161.2',
      'footnotes': [{}]},
     {'year': '1997',
      'period': 'M08',
      'periodName': 'August',
      'value': '160.8',
      'footnotes': [{}]},
     {'year': '1997',
      'period': 'M07',
      'periodName': 'July',
      'value': '160.5',
      'footnotes': [{}]},
     {'year': '1997',
      'period': 'M06',
      'periodName': 'June',
      'value': '160.3',
      'footnotes': [{}]},
     {'year': '1997',
      'period': 'M05',
      'periodName': 'May',
      'value': '160.1',
      'footnotes': [{}]},
     {'year': '1997',
      'period': 'M04',
      'periodName': 'April',
      'value': '160.2',
      'footnotes': [{}]},
     {'year': '1997',
      'period': 'M03',
      'periodName': 'March',
      'value': '160.0',
      'footnotes': [{}]},
     {'year': '1997',
      'period': 'M02',
      'periodName': 'February',
      'value': '159.6',
      'footnotes': [{}]},
     {'year': '1997',
      'period': 'M01',
      'periodName': 'January',
      'value': '159.1',
      'footnotes': [{}]},
     {'year': '1996',
      'period': 'M12',
      'periodName': 'December',
      'value': '158.6',
      'footnotes': [{}]},
     {'year': '1996',
      'period': 'M11',
      'periodName': 'November',
      'value': '158.6',
      'footnotes': [{}]},
     {'year': '1996',
      'period': 'M10',
      'periodName': 'October',
      'value': '158.3',
      'footnotes': [{}]},
     {'year': '1996',
      'period': 'M09',
      'periodName': 'September',
      'value': '157.8',
      'footnotes': [{}]},
     {'year': '1996',
      'period': 'M08',
      'periodName': 'August',
      'value': '157.3',
      'footnotes': [{}]},
     {'year': '1996',
      'period': 'M07',
      'periodName': 'July',
      'value': '157.0',
      'footnotes': [{}]},
     {'year': '1996',
      'period': 'M06',
      'periodName': 'June',
      'value': '156.7',
      'footnotes': [{}]},
     {'year': '1996',
      'period': 'M05',
      'periodName': 'May',
      'value': '156.6',
      'footnotes': [{}]},
     {'year': '1996',
      'period': 'M04',
      'periodName': 'April',
      'value': '156.3',
      'footnotes': [{}]},
     {'year': '1996',
      'period': 'M03',
      'periodName': 'March',
      'value': '155.7',
      'footnotes': [{}]},
     {'year': '1996',
      'period': 'M02',
      'periodName': 'February',
      'value': '154.9',
      'footnotes': [{}]},
     {'year': '1996',
      'period': 'M01',
      'periodName': 'January',
      'value': '154.4',
      'footnotes': [{}]},
     {'year': '1995',
      'period': 'M12',
      'periodName': 'December',
      'value': '153.5',
      'footnotes': [{}]},
     {'year': '1995',
      'period': 'M11',
      'periodName': 'November',
      'value': '153.6',
      'footnotes': [{}]},
     {'year': '1995',
      'period': 'M10',
      'periodName': 'October',
      'value': '153.7',
      'footnotes': [{}]},
     {'year': '1995',
      'period': 'M09',
      'periodName': 'September',
      'value': '153.2',
      'footnotes': [{}]},
     {'year': '1995',
      'period': 'M08',
      'periodName': 'August',
      'value': '152.9',
      'footnotes': [{}]},
     {'year': '1995',
      'period': 'M07',
      'periodName': 'July',
      'value': '152.5',
      'footnotes': [{}]},
     {'year': '1995',
      'period': 'M06',
      'periodName': 'June',
      'value': '152.5',
      'footnotes': [{}]},
     {'year': '1995',
      'period': 'M05',
      'periodName': 'May',
      'value': '152.2',
      'footnotes': [{}]},
     {'year': '1995',
      'period': 'M04',
      'periodName': 'April',
      'value': '151.9',
      'footnotes': [{}]},
     {'year': '1995',
      'period': 'M03',
      'periodName': 'March',
      'value': '151.4',
      'footnotes': [{}]},
     {'year': '1995',
      'period': 'M02',
      'periodName': 'February',
      'value': '150.9',
      'footnotes': [{}]},
     {'year': '1995',
      'period': 'M01',
      'periodName': 'January',
      'value': '150.3',
      'footnotes': [{}]},
     {'year': '1994',
      'period': 'M12',
      'periodName': 'December',
      'value': '149.7',
      'footnotes': [{}]},
     {'year': '1994',
      'period': 'M11',
      'periodName': 'November',
      'value': '149.7',
      'footnotes': [{}]},
     {'year': '1994',
      'period': 'M10',
      'periodName': 'October',
      'value': '149.5',
      'footnotes': [{}]},
     {'year': '1994',
      'period': 'M09',
      'periodName': 'September',
      'value': '149.4',
      'footnotes': [{}]},
     {'year': '1994',
      'period': 'M08',
      'periodName': 'August',
      'value': '149.0',
      'footnotes': [{}]},
     {'year': '1994',
      'period': 'M07',
      'periodName': 'July',
      'value': '148.4',
      'footnotes': [{}]},
     {'year': '1994',
      'period': 'M06',
      'periodName': 'June',
      'value': '148.0',
      'footnotes': [{}]},
     {'year': '1994',
      'period': 'M05',
      'periodName': 'May',
      'value': '147.5',
      'footnotes': [{}]},
     {'year': '1994',
      'period': 'M04',
      'periodName': 'April',
      'value': '147.4',
      'footnotes': [{}]},
     {'year': '1994',
      'period': 'M03',
      'periodName': 'March',
      'value': '147.2',
      'footnotes': [{}]},
     {'year': '1994',
      'period': 'M02',
      'periodName': 'February',
      'value': '146.7',
      'footnotes': [{}]},
     {'year': '1994',
      'period': 'M01',
      'periodName': 'January',
      'value': '146.2',
      'footnotes': [{}]},
     {'year': '1993',
      'period': 'M12',
      'periodName': 'December',
      'value': '145.8',
      'footnotes': [{}]},
     {'year': '1993',
      'period': 'M11',
      'periodName': 'November',
      'value': '145.8',
      'footnotes': [{}]},
     {'year': '1993',
      'period': 'M10',
      'periodName': 'October',
      'value': '145.7',
      'footnotes': [{}]},
     {'year': '1993',
      'period': 'M09',
      'periodName': 'September',
      'value': '145.1',
      'footnotes': [{}]},
     {'year': '1993',
      'period': 'M08',
      'periodName': 'August',
      'value': '144.8',
      'footnotes': [{}]},
     {'year': '1993',
      'period': 'M07',
      'periodName': 'July',
      'value': '144.4',
      'footnotes': [{}]},
     {'year': '1993',
      'period': 'M06',
      'periodName': 'June',
      'value': '144.4',
      'footnotes': [{}]},
     {'year': '1993',
      'period': 'M05',
      'periodName': 'May',
      'value': '144.2',
      'footnotes': [{}]},
     {'year': '1993',
      'period': 'M04',
      'periodName': 'April',
      'value': '144.0',
      'footnotes': [{}]},
     {'year': '1993',
      'period': 'M03',
      'periodName': 'March',
      'value': '143.6',
      'footnotes': [{}]},
     {'year': '1993',
      'period': 'M02',
      'periodName': 'February',
      'value': '143.1',
      'footnotes': [{}]},
     {'year': '1993',
      'period': 'M01',
      'periodName': 'January',
      'value': '142.6',
      'footnotes': [{}]}]},
   {'seriesID': 'CUSR0000SA0',
    'catalog': {'series_title': 'All items in U.S. city average, all urban consumers, seasonally adjusted',
     'series_id': 'CUSR0000SA0',
     'seasonality': 'Seasonally Adjusted',
     'survey_name': 'Consumer Price Index for All Urban Consumers (CPI-U)',
     'survey_abbreviation': 'CU',
     'measure_data_type': 'All items',
     'area': 'U.S. city average',
     'item': 'All items'},
    'data': [{'year': '2003',
      'period': 'M12',
      'periodName': 'December',
      'value': '185.5',
      'footnotes': [{}]},
     {'year': '2003',
      'period': 'M11',
      'periodName': 'November',
      'value': '185.0',
      'footnotes': [{}]},
     {'year': '2003',
      'period': 'M10',
      'periodName': 'October',
      'value': '184.9',
      'footnotes': [{}]},
     {'year': '2003',
      'period': 'M09',
      'periodName': 'September',
      'value': '185.1',
      'footnotes': [{}]},
     {'year': '2003',
      'period': 'M08',
      'periodName': 'August',
      'value': '184.5',
      'footnotes': [{}]},
     {'year': '2003',
      'period': 'M07',
      'periodName': 'July',
      'value': '183.7',
      'footnotes': [{}]},
     {'year': '2003',
      'period': 'M06',
      'periodName': 'June',
      'value': '183.1',
      'footnotes': [{}]},
     {'year': '2003',
      'period': 'M05',
      'periodName': 'May',
      'value': '182.9',
      'footnotes': [{}]},
     {'year': '2003',
      'period': 'M04',
      'periodName': 'April',
      'value': '183.2',
      'footnotes': [{}]},
     {'year': '2003',
      'period': 'M03',
      'periodName': 'March',
      'value': '183.9',
      'footnotes': [{}]},
     {'year': '2003',
      'period': 'M02',
      'periodName': 'February',
      'value': '183.6',
      'footnotes': [{}]},
     {'year': '2003',
      'period': 'M01',
      'periodName': 'January',
      'value': '182.6',
      'footnotes': [{}]},
     {'year': '2002',
      'period': 'M12',
      'periodName': 'December',
      'value': '181.8',
      'footnotes': [{}]},
     {'year': '2002',
      'period': 'M11',
      'periodName': 'November',
      'value': '181.5',
      'footnotes': [{}]},
     {'year': '2002',
      'period': 'M10',
      'periodName': 'October',
      'value': '181.2',
      'footnotes': [{}]},
     {'year': '2002',
      'period': 'M09',
      'periodName': 'September',
      'value': '180.8',
      'footnotes': [{}]},
     {'year': '2002',
      'period': 'M08',
      'periodName': 'August',
      'value': '180.5',
      'footnotes': [{}]},
     {'year': '2002',
      'period': 'M07',
      'periodName': 'July',
      'value': '180.0',
      'footnotes': [{}]},
     {'year': '2002',
      'period': 'M06',
      'periodName': 'June',
      'value': '179.6',
      'footnotes': [{}]},
     {'year': '2002',
      'period': 'M05',
      'periodName': 'May',
      'value': '179.5',
      'footnotes': [{}]},

In [10]:
df

NameError: name 'df' is not defined

In [8]:
# Get number of series
number_of_series = len(json_data['Results']['series'])
number_of_series

2

In [9]:
check_df = table_to_df('CUSR0000SA0', db_name)
check_df

DatabaseError: Execution failed on sql 'SELECT * FROM CUSR0000SA0;': no such table: CUSR0000SA0

In [ ]:
check_df = table_to_df('CUSR0000SA0_dict', db_name)
check_df

In [ ]:
conn = create_connection(db_name)
c = conn.cursor()
    conn_execute(db_name, sql_code1) 
    
    conn.close()

## Validate Data to Put into Correct Table

In [ ]:
 

    
def create_insert_trigger(tbl_name, db_name):
    '''
    Enter data into the log table when enter data into the database where the value does not exist or does not
    match the value that already exists
    '''
    conn = create_connection(db_name)
    c = conn.cursor()
    
    sql_code = """CREATE TRIGGER log_value_after_insert 
                    AFTER INSERT ON """ + seriesID + """ 
                    BEGIN INSERT INTO value_logs(      
                        seriesID,
                        year, 
                        period, 
                        periodName, 
                        value, 
                        date, 
                        date_action,
                        action)
                    VALUES(
                        new.seriesID,
                        new.year,
                        new.period,
                        new.periodName,
                        new.value,
                        new.date,
                        datetime('now','localtime'),
                        'INSERT'    
                    );
                    END;""".format(seriesID)
    
    conn_execute((sql_code)
    
    conn.close()    

def create_update_trigger(tbl_name, db_name):
    '''
    Enter data into the log table when enter data into the database where the value does not exist or does not
    match the value that already exists
    '''
    conn = create_connection(db_name)
    c = conn.cursor()
    
    sql_code = """CREATE TRIGGER log_value_after_update 
                    AFTER UPDATE ON """ + seriesID + """
                    WHEN old.value <> new.value
                    BEGIN INSERT INTO value_logs(      
                        seriesID,
                        year, 
                        period, 
                        periodName, 
                        value, 
                        date, 
                        date_action,
                        action)
                    VALUES(
                        new.seriesID,
                        new.year,
                        new.period,
                        new.periodName,
                        new.value,
                        new.date,
                        datetime('now','localtime'),
                        'INSERT'    
                    );
                    END;""".format(seriesID)
    conn_execute((sql_code)
    
    conn.close()

'''def unique_index(tbl_name, db_name)
    """
    Create a unique index for the date value of the table
    """
    conn = create_connection(db_name)
    c = conn.cursor()
    
    sql_code = 'CREATE UNIQUE INDEX idx_date ON ' + tbl_name + '(date)';
    
    conn_execute(sql_code)'''
    
def validate_df(df, tbl_name, db_name):
    """
    check if the data from the api df already exists in the table and 
    if the data in the table is duplicate or inconsistent
    return dataframe df without duplicate data or inconsistent data
    return dataframe df_dup_data with duplicate date
    return dataframe df_inconsistent_data with inconsistent data
    """
    conn = create_connection(db_name)
    c = conn.cursor()
    
    # Set up empty dataframes to use to store data temporarily
    df_not_dup_data = pd.DataFrame(columns = list(df.columns))
    df_dup_data = pd.DataFrame(columns = list(df.columns))
    df_inconsistent_data = pd.DataFrame(columns = list(df.columns))
    
    if check_table_exists(seriesID, db_name) != 0:
        # Check if data already exists in DB
        for i, row in df.iterrows():
            c.execute("SELECT date, value FROM " + tbl_name + " WHERE date = ?;", (df.loc[i]["date"],))
            queryOut = c.fetchall()
            
            # Data does not already exist in the database 
            if len(queryOut) == 0: 
                df_not_dup_data = pd.concat([df_not_dup_data, df.loc[[i]]])
            # Data already exists in the database with duplicate values
            elif queryOut[0][1] == df.loc[i]["value"]: 
                df_dup_data = pd.concat([df_dup_data, df.loc[[i]]])
            # Data already exists in the database but with different values
            elif queryOut[0][1] != df.loc[i]["value"]:
                df_inconsistent_data = pd.concat([df_inconsistent_data, df.loc[[i]]])            
    else:
        df_not_dup_data = df.copy()
    
    conn.close()
    
    df_not_dup_data = df_not_dup_data.sort_values(by=['date'])
    
    return df_not_dup_data, df_dup_data, df_inconsistent_data



    
    
def get_max_index(tbl_name, db_name):
    '''
    Get the maximum index value of the specified tbl_name
    '''
    conn = create_connection(db_name)
    c = conn.cursor()
    try:
        c.execute("SELECT MAX([index]) FROM " + seriesID)
        max_index = c.fetchone()[0]
        return max_index
    except Error as e:
        print(e)
    finally:
        conn.close()
        
def get_max_date(tbl_name, db_name):
    '''
    Get the maximum date from the specified tbl_name
    '''
    conn = create_connection(db_name)
    c = conn.cursor()
    try:
        c.execute("SELECT date FROM " + seriesID + " WHERE [index] = (SELECT MAX([index]) FROM " + seriesID +")")
        max_date = c.fetchone()[0]
        return max_date
    except Error as e:
        print(e)
    finally:
        conn.close()